.courseEditor {
  position: relative;
  color: var(--edit-page-text);
}

.courseEditorHeading {
  margin-bottom: 20px;
  font-size: 2rem;
}

.courseForm {
  max-width: 800px;
  padding: 20px 40px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid var(--light-grey);
  display: grid;
  grid-template-areas:
    "courseFormBlock courseFormBlock courseFormBlock"
    "description description description"
    "duration duration duration"
    "authors authors courseAuthors"
    "authors authors courseAuthors";
  row-gap: 30px;
  margin-bottom: 30px;
}

.courseFormHeading {
  font-size: 1.5rem;
  font-weight: bold;
}

.courseFormBlock {
  grid-area: courseFormBlock;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 317px;
}

.courseFormDuration {
  display: grid;
  grid-template-areas:
    "title ."
    "label ."
    "input time"
    "warning warning";
  column-gap: 10px;
  justify-content: left;
  align-items: center;
  grid-area: duration;
  height: 105px;
  row-gap: 10px;
}

.courseFormDuration h2 {
  grid-area: title;
}

.courseFormDuration label {
  grid-area: label;
}

.courseFormDuration input {
  grid-area: input;
}

.courseFormDuration p {
  grid-area: time;
}

.courseFormActions {
  display: flex;
  column-gap: 15px;
  position: absolute;
  right: 0;
  bottom: -70px;
}