.courseFormDescription {
  grid-area: description;
}

.courseFormDescription textarea {
  resize: none;
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.courseFormDescription textarea::placeholder {
  color: var(--light-grey);
}

.courseFormDescription textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}

.courseFormDuration label {
  grid-area: label;
}

.courseFormDuration input {
  grid-area: input;
}

.courseFormDuration p {
  grid-area: time;
}

.courseFormTitle {
  grid-area: courseFormTitle;
  min-height: 77px;
}

.warning {
  grid-area: warning;
}