.courseCardActions {
  grid-area: course__actions;
  display: flex;
  gap: 20px;
}

.courseCardEditButton,
.courseCardDeleteButton {
  max-width: 60px;
}

.courseCardEditButton img,
.courseCardDeleteButton img {
  object-fit: contain;
  filter: brightness(0) invert(1);
  width: 35px;
  height: 35px;
}