.header {
  border-bottom: 1px solid var(--light-grey);
  padding: 20px 0;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

@media screen and (max-width: 900px){
  .container {
    flex-direction: column;
    row-gap: 20px;
  }
}